@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-xs: 30rem;

  --color-primary: #f5f5fa;
  --color-secondary: #fafafa;
  --color-tertiary: #e6e6f5;

  --color-accent: #695afa;
  --color-muted: #463791;

  --color-contrast: #282828;
  --color-contrast-II: #f5f5fa;
  --color-subtext: #878787;

  /* --color-lime: #c3ff3d;
  --color-pink: #d2697d;
  --color-lavender: #b4b4fa;
  --color-sky-blue: #b4d2eb;
  --color-muted-pink: #c37d87;
  --color-gold: #e6b973; */

  --animate-blink: blink 0.5s step-start infinite alternate;

  @keyframes blink {
    0%,
    49% {
      opacity: 1;
    }

    50%,
    100% {
      opacity: 0;
    }
  }
}

@layer utilities {
  .content {
    padding: 35px 15px;
    max-width: 1440px;
  }

  /* .grid-background {
    background-image:
      linear-gradient(to right, #7d7d7d30 1.5px, transparent 1.5px),
      linear-gradient(to bottom, #7d7d7d30 1.5px, transparent 1.5px);
    background-size: 40px 40px;
  } */

  /* ----------------------------- */

  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-tertiary);
    border-radius: 6px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 6px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--color-muted);
  }

  /* ----------------------------- */

  .custom-slider {
    &::-webkit-slider-thumb {
      appearance: none;
      border: none;
      height: 0.85rem;
      width: 0.85rem;
      border-radius: 4px;
      margin-top: -3.5px;
      cursor: pointer;
      z-index: 50;
    }

    &:active::-webkit-slider-thumb {
      background-color: var(--color-muted);
    }
  }

  .custom-slider::-webkit-slider-runnable-track {
    height: 0.4rem;
    background: var(--color-tertiary);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .custom-slider:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-contrast);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--color-tertiary);
}

body {
  overflow-x: hidden;
  font-family: var(--CustomFont);

  color: var(--color-contrast);
  background-color: var(--color-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100dvh;
}

* {
  box-sizing: border-box;
  border-color: var(--color-tertiary);

  &::before,
  &::after {
    box-sizing: border-box;
  }
}
