@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-xs: 30rem;

  --color-primary: #f9fafb;

  --color-accent: #2fa8e3;
  --color-accent-II: #e7346c;

  --color-tertiary: #bbbbbb;

  --color-contrast: #222222;
  --color-contrast-II: #fcfcfc;

  --color-success: #c3ff3d;
  --color-error: #d2697d;

  /*--color-accent: #b4b4fa; 
  --color-primary-III: #b4d2eb;
  --color-primary-IV: #c37d87;
  --color-primary-V: #e6b973; */

  --animate-blink: blink 0.5s step-start infinite alternate;

  @keyframes blink {
    0%,
    49% {
      opacity: 1;
    }

    50%,
    100% {
      opacity: 0;
    }
  }
}

@layer utilities {
  .content {
    padding: 75px 20px;
    margin: 40px 0;
    max-width: 1440px;
  }

  .box {
    box-shadow: -4px 4px 0px var(--color-contrast);
    border: 3px solid var(--color-contrast);
  }

  .grid-background {
    background-image:
      linear-gradient(to right, #7d7d7d30 1.5px, transparent 1.5px),
      linear-gradient(to bottom, #7d7d7d30 1.5px, transparent 1.5px);
    background-size: 40px 40px;
  }

  /* ----------------------------- */

  .custom-scroll::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-left: 3px solid var(--color-contrast);
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--color-accent-II);
    border-left: 3px solid var(--color-contrast);
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #9e294e;
  }

  /* ----------------------------- */

  .custom-slider {
    &::-webkit-slider-thumb {
      appearance: none;
      border: none;
      height: 0.85rem;
      width: 0.85rem;
      border-radius: 4px;
      margin-top: -3.5px;
      cursor: pointer;
      z-index: 50;
    }

    &:active::-webkit-slider-thumb {
      background-color: var(--color-accent-II);
    }
  }

  .custom-slider::-webkit-slider-runnable-track {
    height: 0.4rem;
    background: var(--color-tertiary);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .custom-slider:focus {
    outline: none;
  }
}

body {
  overflow-x: hidden;
  font-family: var(--CustomFont);
}
